section.article
    .container-md
        .article__item
            .article__content
                h2.article__title(data-scrollspy="animate__fadeInUp") Providing independence to lives. Being the friendly face they see every day. <span>This is care.</span>
                p.article__text(data-scrollspy="animate__fadeInUp") Few careers offer the genuine opportunity to make an impact on someone’s life like being a Care Assistant. More than just a job, Comfort Call’s carers are on the front-line of looking after those who are at their most vulnerable in life, promoting independence and self-reliance amongst clients so they may live happy, fulfilled lives in the comfort of their own homes. Our Care Assistants undergo a full 12-week training programme as part of our commitment to delivering high-quality care.
            .article__img(data-scrollspy="animate__fadeInUp")
                img(
                    src="img/people.jpg", 
                    alt="people",
                    srcset="img/people@2x.jpg 2x"
                    data-uk-parallax="y: 100; media: 1025")
                .article__img-bg(data-uk-parallax="y: -50; media: 1025")
        .article__item.article__reverse
            .article__img(data-scrollspy="animate__fadeInUp" )
                img(
                    src="img/hand.jpg", 
                    alt="people",
                    srcset="img/hand@2x.jpg 2x"
                    data-uk-parallax="y: 100; media: 1025")
                .article__img-bg(data-uk-parallax="y: -50; media: 1025")
            .article__content
                h2.article__title(data-scrollspy="animate__fadeInUp") Are you our next Care Assistant?
                p.article__text(data-scrollspy="animate__fadeInUp") Our Care Assistants go the extra mile to provide support to our clients within the comfort of their own home. From assisting with day-to-day activities and chores, to help with bathing, taking their medicine, staying active and maintaining their dignity and independence, you will enjoy a varied and rewarding role not just as a carer but as a companion and friend. If you are caring, dependable, patient, reliable and respectful, we would love to hear from you.
                .article__buttons 
                    button.button.button-primary(data-scrollto="#form") Apply now
                    button.button.button-primary(data-scrollto="#form") Request a callback
